.container {
    border: 5px solid deeppink;
    display: flex;
    flex-flow: row wrap;
}

.item {
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: tan;
    text-align: center;
}