body {
    border: 1px solid black;
    max-width: 900px;
    min-width: 600px;
    margin: 0 auto;
}

nav {
    float: left;
    width: 25%;
    margin: 0px;
}

#cat{
    border: 4px dashed green;
}
nav li {
    list-style-type: none;
}

section {
    margin-left: 25%;
}

section:last-child::after {
    content: "MORE THAN 600px";
    color: red;
    font-weight: bold;
}